h2{
    color:blueviolet;
    
}

body{
    background-color: rgb(205, 231, 227);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
    h1{
        color: rgb(85, 197, 191);
        font-size: xx-large;
               
        
    }

    header{
       border-bottom: 1px solid gray; 
    }
    footer{
        border-top: 1px solid gray;
    }
    #nome-usuário{
        font-weight: bold;
    }
    .texto-inglês{
        font-style: italic;
    }
    #função-NRE{
        font-weight: bold;
    }